@import '../utils/_mixins';
@import '../utils/_variables';
@import '../utils/_animation';

/* body */
body {
	margin: 0px;
	padding: 0px;
	font-family: $base-font-family;
	background-color: $base-bg;
	height: 100%;
	position: relative;
	font-size: $base-font-size!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* titles */
p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	font-family: $title-font-family;
	font-weight: 400;
}
p {	
	@include font($base-font-size,$base-line-height,$text-color);	
}
h1 {	
	@include font($font-size-h1,$line-height-h1,$title-color);	
	font-weight: 700;	
}
h2 {
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-weight: 700;
}
h3 {
	@include font($font-size-h3,$line-height-h3,$title-color);

}
h4 {	
	@include font($font-size-h4,$line-height-h4,$title-color);
	
}
h5 {
	@include font($font-size-h5,$line-height-h5,$title-color);
	
}
h6 {
	@include font($font-size-h6,$line-height-h6,$title-color);

}

/* style placeholder */
input::-webkit-input-placeholder       {color: $text-color; font-size: 16px;}
input::-moz-placeholder                {color: $text-color; font-size: 16px;}
input:-moz-placeholder                 {color: $text-color; font-size: 16px;}
input:-ms-input-placeholder            {color: $text-color; font-size: 16px;}

/*other*/
input,
textarea {
	color: #333;
	font-family: $base-font-family;
	outline: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}

a {
	color: $link-color;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	@include transition($default-transition);
	&:hover {
		cursor: pointer;
		color: $red;
	}
}

a,
span,
div {
	outline: none!important;
}

input[type=submit],
input[type=button],
button {
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

/* loader */
.loaded .page-wrap {
	visibility: hidden;
}
.icon-load {
	background: url(../img/loader.gif) no-repeat left top;
	width: 40px;
	height: 40px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.loaded .icon-load {
	display: block;
}

/* wrapper */
.page-wrap {
	margin: 0 auto;
	padding: 0;
	min-width: $min-width;
	max-width: $max-width;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
}
/*
.wrap {
	//@extend .container;
	&-row {
		//@extend .row;
	}
} */

/* learfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
