/*
* CONTENT
*/

th, td {
	font-size: 18px;
}
.table-wrap {
	box-shadow: 1px 1px 5px 1px #d5d5d5;
}
.table {
	box-shadow: -1px -1px 5px 1px #d5d5d5;
	a {
		text-decoration: none;
	}
}
.table-hover>tbody>tr:hover {
	background-color: #e5e5ed;
}
.thead-dark {
	font-size: 20px;
	color: $white;
	background-image: linear-gradient(to bottom, #536c85 0, #32383e 100%);
  border-color: #101315;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
	vertical-align: middle;
	text-align: center;
	&:first-child {
		padding: 15px 0 15px 15px;
	}
	&:nth-child(2) {
		padding-left: 15px;
		text-align: left;
	}
	&:nth-child(3) {
		min-width: 100px;
	}
}
.task-name {
	&--text:hover {
		cursor: pointer;
		color: $red;
	}
}
.task-tags {
	&__item {
		display: block;
	}
}
.priority {
	font-weight: 600;
	color: $blue;
}
.form-control {
	height: 40px;
	font-size: 16px;
	resize: none;
}
.btn {
	padding: 8px 12px;
	font-size: 16px;
}

/* media content */
@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
	
}

@media screen and (min-width: 991px) {

}

@media screen and (min-width: 768px) {

}

