/*
* FOOTER
*/


/* media footer */
@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (min-width: 991px) {
	
}

@media screen and (min-width: 768px) {
	
}