/*
* HEADER
*/

.header {
  padding: 15px 0px;
  margin-bottom: 25px;
  background-image: linear-gradient(to bottom, #343a40 0, #0f1214 100%);
  //background-color: #343a40;
  &__title {
    font-size: 42px;
    line-height: 2;
    color: $white;
  }
  &__logo {
    text-align: center;
  }
}
.logo__link {
  display: inline-block;
  padding-top: 20px;
  &--img {
    width: 50px;
    height: 50px;
  }
}
.box-contact-list {
  font-size: 16px;
  list-style: none;
  &__item {
    text-align: right;
    list-style: none;
    font-size: 20px;
    &:nth-child(2) {
      padding: 5px 0px;
      a {
        color: $white;
      }
      a:hover {
        color: $red;
      }
    }
  }
  &__link {
    color: $green;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
.box-icon {
  &__item {
    display: inline-block;
    padding-left: 25px;
  }
  &__link {
    color: $green;
    &:hover {
      text-decoration: none;
      color: $white;
    }
    .fa {
      font-size: 22px;
    }
  }
}



/* media header */
@media screen and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (min-width: 1200px) {
	
}

@media screen and (min-width: 991px) and (max-width: 992px){
	
}

@media screen and (min-width: 768px) {
	
}