@-webkit-keyframes blink {
	0% { box-shadow: 0 0 0px 0px #6cbe68; }
	50% { box-shadow: 0 0 7px 1px #6cbe68; }
	55% { box-shadow: 0 0 0px 0px #6cbe68; }
	100% { box-shadow: 0 0 0px 0px #6cbe68; }
}
@keyframes blink {
	0% { box-shadow: 0 0 0px 0px #6cbe68; }
	50% { box-shadow: 0 0 7px 1px #6cbe68; }
	55% { box-shadow: 0 0 0px 0px #6cbe68; }
	100% { box-shadow: 0 0 0px 0px #6cbe68; }
}
