/* reset */
$min-width: 768px;
$max-width: 1920px; 
$base-bg: #ffffff; 
$base-font-size: 16px; 
$base-line-height: 1.25; 
$base-font-family: 'PT Sans', Arial, sans-serif;
$custom-font-family: 'PT Sans', Arial, sans-serif;
$base-color: #010101;
$link-color: $base-color;
$default-transition: all 0.2s ease;

/* main variables */

//text, titles
$text-color: #898989;
$title-color: $base-color;
$title-font-family: $base-font-family;

$font-size-h1: 32px;
$line-height-h1: 1;
$font-size-h2: 32px;
$line-height-h2: 1.09;
$font-size-h3: 22px;
$line-height-h3: 1.09;

$font-size-h4: 16px;
$line-height-h4: 1.09;
$font-size-h5: 13px;
$line-height-h5: 1.09;
$font-size-h6: 11px;
$line-height-h6: 1.09;

/* colors */
$white: #ffffff;
$green: #28a745;
$red: #df1919;
$yellow: #e7f430;
$blue: #265a88;